<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/publicApp.js"></script>
  </head>
  <body>
    <h1>NotePad App</h1>
      <form id='new-note-form'>
        <div>
          <input type="text" name="title" id="title" value="" placeholder="Title">
        </div>
        <div>
          <textarea  name="content" id="content" rows="8" placeholder="Create a new note" wrap="soft" required></textarea>
        </div>
        <input type="submit" value="Create">
      </form>
      <div class="board">
      </div>
  </body>
</html>
